.web {
  height: 100vh;
  width: 100%;
  background-color: #fff;

  .webview-content {
    width: 100%;
    height: 100%;
  }

  .web-placeholder {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;

    .placeholder-text {
      display: block;
      font-size: 16px;
      font-weight: 600;
      color: #333;
      margin-bottom: 8px;
    }

    .placeholder-desc {
      display: block;
      font-size: 14px;
      color: #666;
    }
  }
}
